# Qdrant Vector Database Configuration
QDRANT_URL=https://512bf099-ef76-4b8d-bbb0-81c64346546e.eu-central-1-0.aws.cloud.qdrant.io
QDRANT_API_KEY=Placeholder

HF_TOKEN=Placeholder

# Flask Configuration
FLASK_ENV=production
FLASK_APP=context_webserver.py

Webserver_Token=Placeholder
